@import "base/index";
@import "layout/index";
@import "vendors/index";

// .wrapper{
// 	    padding: 0 2px;
// }
.container{
  width: 100%;
  max-width: 985px ;
  margin: 0 auto;
  padding:0 5px; 
  box-sizing: border-box;
  background: none;
}