
@font-face {
	font-family: 'Conv_bauhauslightctt';
	src: url('../fonts/bauhauslightctt.eot');
	src: local('☺'), url('../fonts/bauhauslightctt.woff') format('woff'), url('../fonts/bauhauslightctt.ttf') format('truetype'), url('../fonts/bauhauslightctt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

