.content{
	width: 100%;
    margin: 0 auto;
    height: auto !important;
}
.content:after{
   content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0; 
}
    

.main{
    width: 69%;
    display: inline-block;
    float: left;
    margin-right: 0px;
	.list__page{
		font-size: 11px;
		font-family: 'Conv_Tahoma-Regular';
		padding: 16px 0px 10px 0px;
		a{
			font-size: 11px;
			font-family: 'Conv_Tahoma-Regular';
			text-decoration: underline;
            color: #7d7d7d;
            display: inline-block;
		}
        a:hover{
            color: #24b5e1;
        }
		em{
			padding-left: 18px;
			a{
				text-decoration: none;
				color: #7d7d7d;
			}
		}
	}
	.annet__watch{
		padding-bottom: 30px;
		p{
			font-size: 12px;
		    font-family: 'Conv_Tahoma-Regular';
		    color: #000;
            line-height: 17px;
		}
		h1{
			font-size: 28px;
		    font-family: 'Conv_Tahoma-Regular';
		    color: #000;
		    padding: 25px 0px 30px 0px;
		}
		img{
			max-width: 100%;
			height: auto;
			padding: 18px 0px 9px 0px;
		}
	}
	.price__watch{
		border-bottom: 1px dashed #ccc;
		padding-bottom: 24px;
		h3{
			font-size: 18px;
		    font-family: 'Conv_Tahoma-Regular';
		    color: #000;
		    padding: 10px 0px 16px 0px
		}
		p{
			font-size: 12px;
		    font-family: 'Conv_Tahoma-Regular';
		    color: #000;
            line-height: 18px;
		}
        ul{
            padding-top: 11px;
        	li{
        	 padding-top: 11px;
        		p{
        			font-size: 20px;
		            font-family: 'Conv_Tahoma-Regular';
		            color: #ccc;
                    display: inline-block;
        		}
        		a{
        		    font-size: 12px;
			        font-family: 'Conv_Tahoma-Regular';
			        text-decoration: underline;
                    color: #24b5e1;
                    margin-left: 10px;
        		}
                a:hover{
                    color: #08e4e4;
                }
        	}
        }
	}
	.images__watch{
        	padding-top: 19px;
        	border-bottom: 1px dashed #ccc;
		    padding-bottom: 15px;
        	h4{
        		padding: 10px 0px 15px 0px;
        		font-size: 12px;
		        font-family: 'Conv_Tahoma-Regular';
		        color: #000;
        	}
        	.boxwatch{
        		 overflow: hidden;
                 padding-bottom: 11px;
                 img{
                 	max-width: 100%;
                 	height: auto;
                    padding: 10px 8px 0px 0px;
                    float: left;
                 }
        	}
        	p{
        		padding: 10px 0px 10px 0px;
        		font-size: 12px;
		        font-family: 'Conv_Tahoma-Regular';
		        color: #000;
                line-height: 18px;
        	}
            .list{
            	padding: 5px 0px 2px 0px;
            	li{
            		padding: 5px 0px 8px 0px;
            		em{
            			font-size: 12px;
		                font-family: 'Conv_Tahoma-Regular';
		                color: #000;
            		}
            	}
            }
        }
        .table-size{
        	padding-bottom: 50px;
        	border-bottom: 1px dashed #ccc;
            overflow: hidden;
        	h4{
        		padding: 28px 0px 10px 0px;
        		font-size: 12px;
		        font-family: 'Conv_Tahoma-Regular';
		        color: #000;
        	}
        	.light{
        		background: #f9f9f9;
        	}
            table{
                margin-left: 4px;
            }
        	th{
        		    padding: 5px 68px 15px 9px;
        		    font-size: 11px;
		            font-family: 'Conv_Tahoma-Regular';
		            color: #7d7d7d;
        	}
        	td{
        		    padding: 5px 14px 10px 10px;
        		    font-size: 11px;
		            font-family: 'Conv_Tahoma-Regular';
		            color: #000;
        		    em{
                        color: #59c7e7;
                        font-size: 11px;
		                font-family: 'Conv_Tahoma-Regular';
        		    }
        		    a{
        		    	color: #59c7e7;
                        font-size: 11px;
		                font-family: 'Conv_Tahoma-Regular';
		                text-decoration: underline;
        		    }
        	}
        }
        .tab-watch{
        	padding-bottom: 75px;
        	h4{
        		padding: 28px 0px 10px 0px;
                font-size: 12px;
		        font-family: 'Conv_Tahoma-Regular';
		        color: #000;
        	}	
        }
    }
    .sidebar{
        padding: 66px 0px 0px 10px;
        width: 24%;
        margin-left: 58px;
        position: relative;
        float: left;
        .top_form{
            padding-bottom: 28px;
            input{
                background: url(../img/search.png);
                background-repeat: no-repeat;
                background-position: 95%;
                width: 93%;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 4px;
            }
            input:focus{
                border: 1px solid #59c7e7;
            }
        }
        h2{
           font-size: 22px;
           font-family: 'Conv_Tahoma-Regular';
           color: #000; 
        }
        .sidebar__news{
           padding: 0px 0px 90px 0px;
           .sidebar__news-one,
           .sidebar__news-two,
           .sidebar__news-three{
            display: block;
            padding: 21px 0px 15px 0px;
            border-bottom: 1px dashed #ccc; 
            a{
                color: #59c7e7;
                font-size: 14px;
                font-family: 'Conv_Tahoma-Regular';
                text-decoration: underline;
                
            }
            a:hover{
                    color: #08e4e4;
            }
            em{
               color: #969696;
               font-size: 11px;
               font-family: 'Conv_Tahoma-Regular';
               padding: 10px 0px 13px 0px;
               display: block; 
            }
            p{
               color: #000;
               font-size: 11px;
               font-family: 'Conv_Tahoma-Regular';
               line-height: 18px;
            }
           }
        }
        .sidebar__subscription{
            h2{
               font-size: 23px;
               font-family: 'Conv_Tahoma-Regular';
               color: #000; 
            }
            .sidebar__subscription-form{
                    padding: 21px 0px 20px 0px;
                    text-align: right;
                input{
                    width: 93%;
                    border: 1px solid #ccc;
                    padding: 7px;
                    border-radius: 4px;
                    margin-bottom: 13px;
                    color: #969696;
                    font-size: 11px;
                    font-family: 'Conv_Tahoma-Regular';
                }
                input:focus{
                    border: 1px solid #59c7e7;
                }
                input::placeholder{
                    color: #969696;
                    font-size: 11px;
                    font-family: 'Conv_Tahoma-Regular';
                }
                button{
                    
                   
                    background: #24b5e1;
                    color: #fff;
                    font-family: 'Conv_Tahoma-Regular';
                    font-size: 14px;
                    border: 1px solid #24b5e1;
                    border-radius: 6px;
                    padding: 5px;
                    width: 114px;
                    
                }
                button:hover{
                    background: #97e1f7;
                }
            }
        }
    }
@media screen and (max-width: 985px) and (min-width: 100px){
    .content{
        .main{
            width: 69%;
            float: left;
            .table-size{
                th{
                    padding: 5px 32px 15px 9px;
                }
            }
        }
        .sidebar{
            margin-left: 5%;
            float: left;
            width: 24%;

        }
    }
}
@media screen and (max-width: 768px) and (min-width: 100px){
    .content{
        .main{
            width: 100%;
            float: none;
            margin-right: 0px;
            // padding: 0px 5px 0px 5px;
            .annet__watch{
                img{
                    padding: 0;
                }
            }
            .tab-watch{
                padding-bottom: 25px;
            }
        }
        .sidebar{
            margin-left: 0px;
            margin-top: 25px;
            float: none;
            width: 100%;
            padding: 0px;
            text-align: center;
            .sidebar__subscription{
                .sidebar__subscription-form{
                    text-align: center;
                }
            }
            .sidebar__news{
                padding: 0px 0px 30px 0px;
            }
        }
    }
}
@media screen and (max-width: 600px) and (min-width: 100px){
    .content{
        .main{
            .table-size{
                overflow-x: auto;
                table{
                   overflow-x: auto;
                   display: block;
                   width: 350px;
                }

                th{
                    padding: 5px 13px 15px 0px;
                    font-size: 9px;
                }
                td{
                    padding: 5px 8px 10px 0px;
                    font-size: 9px;
                    em{
                        font-size: 9px;
                    }
                    a{
                        font-size: 9px;
                    }
                }
            }
        }
        
    }
}    