.footer{
	padding-top: 30px;
	padding-bottom: 20px;
    clear: both;
	.container{
		border-top: 1px dashed #ccc;
		padding-top: 10px;
        .copyright{
        	display: inline-block;
            overflow: hidden;
        	p{
        		color: #7c7c7c;
        		font-size: 11px;
        		font-family: 'Conv_Tahoma-Regular';	
                float: left;
        	}
        	a{
        		color: #59c7e7;
                font-size: 11px;
		        font-family: 'Conv_Tahoma-Regular';
		        text-decoration: underline;
		        padding-left: 3px;
                float: right;
        	}
        }
        .social-link{
            float: right;
        	li{
        		border-radius: 60px 60px 60px 60px;
        		background: #ccc;
        		display: inline-block;
        		width: 30px;
                height: 30px;
        		i{
        			color: #fff;
        			font-size: 15px;
                    padding: 9px;
        		}
                .fa-facebook:hover{
                    color: #3b5998;
                }
                .fa-skype:hover{
                    color: #45bbff;
                }
                .fa-twitter:hover{
                    color: #1dcaff;
                }
        	}
        }
	}
}